<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel = "stylesheet" href = "styles.css">

<body>
    <h1>JOIN US</h1>

    <P>Enter your email to join <strong><%=count%></strong> others on our waitlist.</P>

    <form method="POST" action ="/register">
        <input type="text" name="email" class="form" placeholder="Enter Your Email">
        <button>Join Now</button>
    </form>

</body>
