body {
    font-family: 'Roboto', sans-serif;
    background-color: #222b13;
    padding: 1% 7% 0% 7%;
}

h1, h2, p {
    text-align: center;
    color: white;
}

img {
  max-width: 100%;
}

.brand {
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

hr {
  border: 1px solid white;
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.landing-h1 {
    text-shadow: 0.05rem 0.1rem rgba(0,0,0,0.5);
    font-size: 100px;
    line-height: 100px;
    font-weight: bold;
}

.landing-h2 {
    color: white;
}

.landing-p {
    color: white;
    font-size: 10px;
    line-height: 10px;
}

.form-section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form {
    line-height: 1.5rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
}

input[type=text]:focus {
    outline: none;
}

button {
    line-height: 1.5rem;
    border: none;
    border: 3px solid white;
    font-size: 1.5rem;
    color: rgb(66,69,86);
    padding: 5px 30px;
    background: rgba(255,255,255,1.0);
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

#footer {
  text-align: center;
}

.footer-icon {
  color: white !important;
  margin: 1%;
}

::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: rgba(255,255,255,0.8)};
